CREATE DATABASE QuanLyPhongTro
GO
USE [QuanLyPhongTro]
GO
/****** Object:  Table [dbo].[CoSo]    Script Date: 5/7/2026 2:24:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSo](
	[MaCoSo] [int] IDENTITY(1,1) NOT NULL,
	[TenCoSo] [nvarchar](150) NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[LoaiHinh] [nvarchar](100) NULL,
	[MaQuanLy] [int] NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[DanhGia] [float] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCoSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 5/7/2026 2:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[MaCoSo] [int] NOT NULL,
	[SoPhong] [nvarchar](20) NOT NULL,
	[Tang] [int] NULL,
	[DienTich] [float] NULL,
	[GiaThue] [decimal](18, 2) NOT NULL,
	[SoNguoiToiDa] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_CoSo_TongQuan]    Script Date: 5/7/2026 2:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_CoSo_TongQuan] AS
SELECT 
    cs.MaCoSo,
    cs.TenCoSo,
    cs.DiaChi,
    COUNT(p.MaPhong) AS TongPhong,
    SUM(CASE WHEN p.TrangThai = N'Trống' THEN 1 ELSE 0 END) AS PhongTrong,
    SUM(CASE WHEN p.TrangThai = N'Đang thuê' THEN 1 ELSE 0 END) AS DangThue,
    SUM(CASE WHEN p.TrangThai = N'Bảo trì' THEN 1 ELSE 0 END) AS BaoTri
FROM CoSo cs
LEFT JOIN Phong p ON cs.MaCoSo = p.MaCoSo
GROUP BY cs.MaCoSo, cs.TenCoSo, cs.DiaChi;
GO
/****** Object:  View [dbo].[View_Phong_UI]    Script Date: 5/7/2026 2:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_Phong_UI] AS
SELECT 
    p.MaPhong,
    p.MaCoSo,
    cs.TenCoSo,
    cs.DiaChi,
    p.SoPhong,
    p.Tang,
    p.DienTich,
    p.GiaThue,
    p.SoNguoiToiDa,
    p.TrangThai,
    p.MoTa,
    p.TrangThai AS TrangThaiHienThi
FROM Phong p
JOIN CoSo cs ON p.MaCoSo = cs.MaCoSo;
GO
/****** Object:  Table [dbo].[CoSo_TienIch]    Script Date: 5/7/2026 2:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSo_TienIch](
	[MaCoSo] [int] NOT NULL,
	[MaTienIch] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCoSo] ASC,
	[MaTienIch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnhCoSo]    Script Date: 5/7/2026 2:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhCoSo](
	[MaAnh] [int] IDENTITY(1,1) NOT NULL,
	[MaCoSo] [int] NOT NULL,
	[UrlAnh] [nvarchar](max) NULL,
	[IsMain] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnhPhong]    Script Date: 5/7/2026 2:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhPhong](
	[MaAnh] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [int] NOT NULL,
	[UrlAnh] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachThue]    Script Date: 5/7/2026 2:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachThue](
	[MaKhach] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[CCCD] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiQuanLy]    Script Date: 5/7/2026 2:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiQuanLy](
	[MaQuanLy] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuanLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong_TienIch]    Script Date: 5/7/2026 2:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong_TienIch](
	[MaPhong] [int] NOT NULL,
	[MaTienIch] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC,
	[MaTienIch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TienIch]    Script Date: 5/7/2026 2:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TienIch](
	[MaTienIch] [int] IDENTITY(1,1) NOT NULL,
	[TenTienIch] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTienIch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CoSo] ON 

INSERT [dbo].[CoSo] ([MaCoSo], [TenCoSo], [DiaChi], [MoTa], [LoaiHinh], [MaQuanLy], [Latitude], [Longitude], [DanhGia], [TrangThai], [NgayTao]) VALUES (1, N'KTX Sinh Viên A', N'Quận 1', N'quy tac', N'KTX', 1, 10.759842459095909, 106.69904139371432, 4.5, N'Hoạt động', CAST(N'2026-05-05T15:11:41.920' AS DateTime))
INSERT [dbo].[CoSo] ([MaCoSo], [TenCoSo], [DiaChi], [MoTa], [LoaiHinh], [MaQuanLy], [Latitude], [Longitude], [DanhGia], [TrangThai], [NgayTao]) VALUES (2, N'Nhà trọ Trung Tâm B', N'Quận 3', N'', N'Nhà trọ', 1, 10.7868, 106.6822, 4.2, N'Hoạt động', CAST(N'2026-05-05T15:11:41.920' AS DateTime))
INSERT [dbo].[CoSo] ([MaCoSo], [TenCoSo], [DiaChi], [MoTa], [LoaiHinh], [MaQuanLy], [Latitude], [Longitude], [DanhGia], [TrangThai], [NgayTao]) VALUES (3, N'Chung cư mini C', N'Thủ Đức', NULL, N'Chung cư', 2, 10.8506, 106.7719, 4.7, N'Hoạt động', CAST(N'2026-05-05T15:11:41.920' AS DateTime))
SET IDENTITY_INSERT [dbo].[CoSo] OFF
GO
INSERT [dbo].[CoSo_TienIch] ([MaCoSo], [MaTienIch]) VALUES (1, 1)
INSERT [dbo].[CoSo_TienIch] ([MaCoSo], [MaTienIch]) VALUES (1, 3)
INSERT [dbo].[CoSo_TienIch] ([MaCoSo], [MaTienIch]) VALUES (1, 4)
GO
SET IDENTITY_INSERT [dbo].[HinhAnhCoSo] ON 

INSERT [dbo].[HinhAnhCoSo] ([MaAnh], [MaCoSo], [UrlAnh], [IsMain]) VALUES (1, 1, N'assets/images/co_so/co_so_1.jpg', 0)
INSERT [dbo].[HinhAnhCoSo] ([MaAnh], [MaCoSo], [UrlAnh], [IsMain]) VALUES (2, 1, N'assets/images/co_so/co_so_1_2.jpg', 0)
INSERT [dbo].[HinhAnhCoSo] ([MaAnh], [MaCoSo], [UrlAnh], [IsMain]) VALUES (3, 2, N'assets/images/co_so/co_so_2.jpg', 0)
SET IDENTITY_INSERT [dbo].[HinhAnhCoSo] OFF
GO
SET IDENTITY_INSERT [dbo].[HinhAnhPhong] ON 

INSERT [dbo].[HinhAnhPhong] ([MaAnh], [MaPhong], [UrlAnh]) VALUES (2, 2, N'assets/images/phong/a102.jpg')
INSERT [dbo].[HinhAnhPhong] ([MaAnh], [MaPhong], [UrlAnh]) VALUES (3, 3, N'assets/images/phong/a103.jpg')
INSERT [dbo].[HinhAnhPhong] ([MaAnh], [MaPhong], [UrlAnh]) VALUES (4, 4, N'assets/images/phong/a104.jpg')
SET IDENTITY_INSERT [dbo].[HinhAnhPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiQuanLy] ON 

INSERT [dbo].[NguoiQuanLy] ([MaQuanLy], [HoTen], [SDT], [Email], [TrangThai], [NgayTao]) VALUES (1, N'Nguyễn Văn A', N'0900000001', N'a@gmail.com', N'Hoạt động', CAST(N'2026-05-05T15:11:41.920' AS DateTime))
INSERT [dbo].[NguoiQuanLy] ([MaQuanLy], [HoTen], [SDT], [Email], [TrangThai], [NgayTao]) VALUES (2, N'Trần Văn B', N'0900000002', N'b@gmail.com', N'Hoạt động', CAST(N'2026-05-05T15:11:41.920' AS DateTime))
SET IDENTITY_INSERT [dbo].[NguoiQuanLy] OFF
GO
SET IDENTITY_INSERT [dbo].[Phong] ON 

INSERT [dbo].[Phong] ([MaPhong], [MaCoSo], [SoPhong], [Tang], [DienTich], [GiaThue], [SoNguoiToiDa], [TrangThai], [MoTa], [NgayTao]) VALUES (1, 1, N'A101', 1, 20, CAST(2000000.00 AS Decimal(18, 2)), 2, N'Trống', N'oki', CAST(N'2026-05-05T15:11:41.920' AS DateTime))
INSERT [dbo].[Phong] ([MaPhong], [MaCoSo], [SoPhong], [Tang], [DienTich], [GiaThue], [SoNguoiToiDa], [TrangThai], [MoTa], [NgayTao]) VALUES (2, 1, N'A102', 1, 22, CAST(2200000.00 AS Decimal(18, 2)), 2, N'Đang thuê', NULL, CAST(N'2026-05-05T15:11:41.920' AS DateTime))
INSERT [dbo].[Phong] ([MaPhong], [MaCoSo], [SoPhong], [Tang], [DienTich], [GiaThue], [SoNguoiToiDa], [TrangThai], [MoTa], [NgayTao]) VALUES (3, 1, N'A103', 1, 25, CAST(2500000.00 AS Decimal(18, 2)), 3, N'Trống', NULL, CAST(N'2026-05-05T15:11:41.920' AS DateTime))
SET IDENTITY_INSERT [dbo].[Phong] OFF
GO
INSERT [dbo].[Phong_TienIch] ([MaPhong], [MaTienIch]) VALUES (1, 1)
INSERT [dbo].[Phong_TienIch] ([MaPhong], [MaTienIch]) VALUES (1, 2)
INSERT [dbo].[Phong_TienIch] ([MaPhong], [MaTienIch]) VALUES (1, 8)
GO
SET IDENTITY_INSERT [dbo].[TienIch] ON 

INSERT [dbo].[TienIch] ([MaTienIch], [TenTienIch]) VALUES (1, N'Wifi')
INSERT [dbo].[TienIch] ([MaTienIch], [TenTienIch]) VALUES (2, N'Máy lạnh')
INSERT [dbo].[TienIch] ([MaTienIch], [TenTienIch]) VALUES (3, N'Chỗ để xe')
SET IDENTITY_INSERT [dbo].[TienIch] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiQua__CA1930A5382EF6C7]    Script Date: 5/7/2026 2:24:07 PM ******/
ALTER TABLE [dbo].[NguoiQuanLy] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CoSo] ADD  DEFAULT ((0)) FOR [DanhGia]
GO
ALTER TABLE [dbo].[CoSo] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[CoSo] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HinhAnhCoSo] ADD  CONSTRAINT [DF_HinhAnhCoSo_IsMain]  DEFAULT ((0)) FOR [IsMain]
GO
ALTER TABLE [dbo].[NguoiQuanLy] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NguoiQuanLy] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT (N'Trống') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[CoSo]  WITH CHECK ADD FOREIGN KEY([MaQuanLy])
REFERENCES [dbo].[NguoiQuanLy] ([MaQuanLy])
GO
ALTER TABLE [dbo].[CoSo_TienIch]  WITH CHECK ADD FOREIGN KEY([MaCoSo])
REFERENCES [dbo].[CoSo] ([MaCoSo])
GO
ALTER TABLE [dbo].[CoSo_TienIch]  WITH CHECK ADD FOREIGN KEY([MaTienIch])
REFERENCES [dbo].[TienIch] ([MaTienIch])
GO
ALTER TABLE [dbo].[HinhAnhCoSo]  WITH CHECK ADD FOREIGN KEY([MaCoSo])
REFERENCES [dbo].[CoSo] ([MaCoSo])
GO
ALTER TABLE [dbo].[HinhAnhPhong]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([MaCoSo])
REFERENCES [dbo].[CoSo] ([MaCoSo])
GO
ALTER TABLE [dbo].[Phong_TienIch]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[Phong_TienIch]  WITH CHECK ADD FOREIGN KEY([MaTienIch])
REFERENCES [dbo].[TienIch] ([MaTienIch])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [CK_TrangThai] CHECK  (([TrangThai]=N'Bảo trì' OR [TrangThai]=N'Đang thuê' OR [TrangThai]=N'Trống'))
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [CK_TrangThai]
GO
